*{
    margin: 0;
    padding: 0;
}
#banner{
    position: relative;
}
#eu{
    position: absolute;
    top: 19%;
    left: 40%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
#main{
    display: inline-flex; 
    justify-content: center; 
    height: auto; 
    width: 56%; 
    position: absolute; 
    top: 67%; 
    left: 21%;
    flex-direction: column ;
    flex-wrap: wrap; 
    align-items: center; 
}
#main div{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    box-shadow: 4px 1px 5px black;
    color: rgb(29, 24, 24);
    width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    body{
        overflow-x: hidden; 
    }

    div#main{
        display: inline-flex;
        justify-content: flex-start;
        position: absolute;
        left: 10%;
        width: calc(80% + 15px);
        height: auto;
    }
    div#main div{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(224, 224, 224);
        box-shadow: 4px 1px 5px black;
        color: rgb(29, 24, 24);
        width: 70%;
        height: auto;
        margin-top: 20px;
        border-radius: 15px;
        padding: 50px;
        
    }
    ul li{
        list-style: none;
    }
    img#banner{
        position: relative;
    }
    img#eu{
       position: absolute;
       right: 40%;
    }
    p#igor{
        position: absolute;
        left: 10%
    }
}